<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}FoundationBundle Demo{% endblock %}</title>
        {% block stylesheets %}
			<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.0.2/css/normalize.min.css" type="text/css" />
			<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.0.2/css/foundation.min.css" type="text/css" />
			<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" type="text/css" />
			<link rel="stylesheet" href="{{ asset('bundles/florianbelhommefoundation/css/foundationtosymfony.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ asset('bundles/florianbelhommefoundationdemo/css/showcase.css') }}" type="text/css" />
			<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
        {% endblock %}
    </head>
    <body>
        
        <nav class="top-bar" data-topbar>
	        <ul class="title-area">
	            <li class="name">
	                <h1><a href="/">FoundationBundle</a></h1>
	            </li>
	            <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
	        </ul>
	        <section class="top-bar-section">
	            <ul class="right">
	                <li><a href="https://github.com/florianbelhomme/FoundationBundle">The bundle on Github</a></li>
	                <li><a href="florianbelhomme.com">About me</a>
	            </ul>
	        </section>
	    </nav>
        
        {% block body %}{% endblock %}
        {% block javascripts %}
	        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
			<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.0.2/js/foundation.min.js"></script>
			<script type="text/javascript" src="{{ asset('bundles/florianbelhommefoundation/js/foundationtosymfony.js') }}"></script>
        {% endblock %}
    </body>
</html>
